.ea-legend-container {
	--top-padding: 0.5em;
	--bottom-padding: 5.7em;

	top: var(--top-padding);
	right: 5em;
	position: fixed;

	min-width: 15em;
	max-width: 20em;
	max-height: calc(100vh - var(--bottom-padding) - var(--top-padding));
	min-height: calc(100vh - 17.2em - var(--top-padding));
	z-index: calc(var(--z-toolbox));

	display: flex;
	flex-direction: column;
}

.ea-legend-container.portrait-mode {
	--top-padding: 7em;
}

.ea-legend-filler {
	position: relative;
	flex-grow: 1;
}

.ea-legend-content {
	overflow: auto;
	background-color: var(--primary-bg-color);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.ea-legend__title {
	padding: 0.8em 1.5em;
	font-weight: bold;
}

.ea-legend__subtitle {
	padding: 0 0.2em 0.5em 1.5em;
}

.ea-legend-item__title {
	padding: 0.5em 0.5em 0.3em 0.5em;
	font-weight: bold;
}

img {
	padding: 0 0.5em 0 0.5em;
}
