
.module-container{               
    top: 0;
    right: 0;           
    position: fixed;    
    z-index: calc(var(--z-toolbox) + 20);    
    background-color: var(--primary-bg-color);
    max-width: 125em;
    height: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0);   
}
.module-container__tools-nav{
    position: absolute;
    top: 0;   
    right: 0;
    padding:0
}
.module-container__close-button{
    margin: 0;
    background-color: var(--secondary-bg-color);   
    padding: 0;
    width: 2.5em;
    height: 2.5em;
    border: 0;
    opacity: .8;
    font-weight: bold;
}
.module-container__close-button:hover{
    opacity: 1;
}
.module-container__content{
    transition: transform 0.3s ease-out;
    display: none;
}
.is-portrait .module-container{               
    bottom: 0;
    right: 0;           
    left: 0;           
    width:100%;
    top: unset;
    position: fixed;    
    background-color: var(--primary-bg-color);
    max-width: unset;
}
 .is-open {
    display: block;
    height:100%;
}

.slider-container {
	display: block;
	position: fixed;
	width: 100vw;
	z-index: calc(var(--z-mainmenu) + 10);
	padding: 0 0 0 0;
	height: 100%;
	pointer-events: none;
}

.slider-container {
	position: fixed;
	width: 100vw;
	z-index: calc(var(--z-mainmenu) + 10);
	padding: 0 0 0 1em;
	height: 100%;
	pointer-events: none;
}
.is-landscape .is-full-size .slider-container {
	display: block;
}
.slider-container input {
	width: 100vw;
	left: 0;
	top: 50%;
	position: relative;
	/*margin-top: 5em;*/
	pointer-events: all;
}

input[type="range"] {
	--track-height: 0;
	--track-fill: 0%;
	--thumb-size: 2.5em;
	--thumb-offset: 0;
	--thumb-highlight-size: 0px;
	appearance: none;         
	display: block;    
	background: transparent;  
	outline-offset: 5px;      
}
input[type="range"]::-webkit-slider-thumb {
	appearance: none; 
	cursor: ew-resize; 
	border: .2em solid var(--secondary-color);
	block-size: var(--thumb-size);
	inline-size: var(--thumb-size);
	margin-top: var(--thumb-offset);
	border-radius: 50%;
	background: url('assets/expand.svg') var(--secondary-color);
	width: 2.3em;
	height: 2.3em;
	background-size: 1.9em  1.9em;
	background-repeat: no-repeat;
	box-shadow: 0 0 0 var(--thumb-highlight-size) var(--primary-color-lighter);
	transition: box-shadow .1s ease;
}

input[type="range"]::-moz-range-thumb {
	appearance: none; 
	cursor: ew-resize; 
	border: .2em solid var(--secondary-color);
	block-size: 2em;
	inline-size: 2em;
	margin-top: 0;
	border-radius: 50%;
	background: url('assets/expand.svg') var(--secondary-color);
	width: 2em;
	height: 2em;
	background-size: 1.9em  1.9em;
	background-repeat: no-repeat;
	box-shadow: 0 0 0 var(--thumb-highlight-size) var(--primary-color-lighter);
	transition: box-shadow .1s ease;
}

input[type="range"]::-webkit-slider-runnable-track {
	appearance: none; 
	block-size: 0;
}

input[type="range"]::-moz-range-track {
	appearance: none; 
	block-size: 0;
}
input[type="range"]:focus {
	--thumb-highlight-size: .3em;
}

