:host  .header__text{
  position: relative;
  top: 0.5em;
  left: 0;
  width: 26em;
  height: 6.5em;
  background-image:  url('assets/header_eab.svg');
  background-repeat: no-repeat;
}

:host .ba{
  height: 5.4em;
  width: 5.4em;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  5.4em  5.4em;
  background-image:  url('assets/karte.svg');
}

:host .header__text-mobile{
  z-index: calc(var(--z-header) + 10);
  position: fixed;
  top: -.9em;
  width: 26em;
  left: -7em;
  height: 6.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22.7em;
  background-image:  url('assets/header_eab.svg');
  display: none;
  transition:opacity 500ms ease-out;
}

:host .header__background {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--header-background-color);
	mask: url('assets/background-icons-eab_inverted-sw.svg');
	-webkit-mask-image: url('assets/background-icons-eab_inverted-sw.svg');
}

