:host  .header__text{
  position: relative;
  top: 0.5em;
  left: 0;
  width: 26em;
  height: 6.5em;
  background-image:  url('assets/header_eab.svg');
  background-repeat: no-repeat;
}

:host .ba{
  height: 5.4em;
  width: 5.4em;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  5.4em  5.4em;
  background-image:  url('assets/karte.svg');
}

:host .header__text-mobile{
  z-index: calc(var(--z-header) + 10);
  position: fixed;
  top: -.9em;
  width: 26em;
  left: -7em;
  height: 6.5em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22.7em;
  background-image:  url('assets/header_eab.svg');
  display: none;
  transition:opacity 500ms ease-out;
}
