.collapsed {
	display: none;
}

.ba-list-item:hover {
	background: transparent;
}

.header {
	cursor: pointer;
}

.iscollapse {
	display: none;
}

.ba-section .ba-list-item > *:first-child {
	padding-left: 0.5em;
}

.content {
	padding-left: 1em;
	padding-right: 1em;
}

.content:last-child {
	margin-bottom: 0.5em;
}

.disabled {
	opacity: 0.7;
	cursor: not-allowed;
	color: var(--text1);
	background: var(--secondary-bg-color);
}
