.collapsed {
	display: none;
}

.ba-list-item:hover {
	background: transparent;
}

.iscollapse {
	display: none;
}

.content {
	padding-left: 2em;
	padding-right: 1em;
}


.disabled {
	opacity: 0.7;
	cursor: not-allowed;
	color: var(--text1);
	background: var(--secondary-bg-color)
}