.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	padding: 0.8em 1.5em;
	font-weight: bold;
	background: var(--primary-color);
	color: var(--text3);
}

.content {
	overflow-y: scroll;
	height: 100%;
}

.tab-buttons {
	border-bottom: solid;
}

option:checked {
	background-color: gray;
}

.filter-entry {
	margin-bottom: 1em;
}

.enumeration-filter {
	border: 1px solid gray;
	border-radius: 3px;
	width: 100%;
	background: var(--primary-bg--color);
	background-image: url('./assets/caret-down-fill.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 0.5em) center;
	background-size: 0.7em;
}

.enumeration-filter .title {
	width: 100%;
}

.enumeration-filter input {
	width: auto;
	margin-right: 0.5em;
}

.enumeration-filter .enumeration-anchor {
	position: relative;
	width: 100%;
}

.enumeration-filter .enumeration-popup {
	display: block;
	position: absolute;
	background-color: white;
	border: 1px solid var(--primary-color);
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.enumeration-filter .enumeration-popup.collapsed {
	display: none;
}

.enumeration-filter .enumeration-popup__buttons {
	display: flex;
	justify-content: space-between;
}

.numeric-filter {
	display: flex;
}

.numeric-filter .title {
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin-right: 2em;
	width: 30%;
}

.numeric-filter .slider {
	position: relative;
	flex: 1;
}

.numeric-filter input[type='range']::-webkit-slider-thumb {
	pointer-events: all;
	cursor: pointer;
}

.numeric-filter input[type='range']::-moz-range-thumb {
	pointer-events: all;
	cursor: pointer;
}

.numeric-filter input[type='range'] {
	position: absolute;
	top: -0.5em;
	pointer-events: none;
}
