.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	padding: 0.8em 1.5em;
	font-weight: bold;
	background: var(--primary-color);
	color: var(--text3);
}

.content {
	overflow-y: scroll;
	height: 100%;
}

.tab-buttons {
	border-bottom: solid;
}

option:checked {
	background-color: gray;
}

.enumeration-filter input {
	width: auto;
	margin-right: 0.5em;
}

.enumeration-anchor {
	position: relative;
}

.enumeration-popup {
	display: block;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.enumeration-popup.collapsed {
	display: none;
}
