.ba-section::before {
	content: '';
	border-top: 1px solid var(--primary-color-lighter);
	display: block;
	margin-left: 0.5em;
	margin-right: 1em;
}
.ba-section:hover {
	border-left: 0.3em solid var(--primary-bg-color);
}
