.container {
	padding: 1em;
	height: 100%;
}

.header {
	font-weight: bold;
	font-size: large;
}

.introduction {
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 1em;
}

.fields-help {
	margin-bottom: 1em;
}

.section-header {
	font-weight: bold;
	font-size: larger;
}

.button-header {
	text-align: center;
}

.arrow-down {
	width: 2em;
	height: 4em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('assets/arrow-down-short.svg');
	margin: 0 auto;
}

.button-icon {
	height: 3em;
	width: 100%;
	margin-bottom: 0.5em;
}

.active .button-icon {
	background-color: white;
	color: var(--primary-color);
}

.inactive .button-icon {
	background-color: var(--primary-color);
	color: white;
}

.unselected .button-icon {
	background-color: var(--primary-color);
	color: white;
}

.tag-icon {
	mask: url('assets/icon_report.svg');
	-webkit-mask: url('assets/icon_report.svg');

	mask-position: center;
	mask-size: contain;
	mask-repeat: no-repeat;

	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
}

.correction-icon {
	mask: url('assets/icon_correction.svg');
	-webkit-mask: url('assets/icon_correction.svg');

	mask-position: center;
	mask-size: contain;
	mask-repeat: no-repeat;

	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
}

.search-icon {
	mask: url('assets/search.svg');
	-webkit-mask: url('assets/search.svg');

	mask-position: center;
	mask-size: contain;
	mask-repeat: no-repeat;

	-webkit-mask-position: center;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
}

button:hover {
	filter: brightness(0.9);
}

.arrow-container {
	display: grid;
	grid-column-gap: 0.2em;
	grid-template-columns: calc(50% - 0.1em) calc(50% - 0.1em);
	padding: 0.2em;
}

.button-container {
	border-color: var(--primary-color-lighter);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	display: grid;
	grid-column-gap: 0.2em;
	grid-template-columns: calc(50% - 0.1em) calc(50% - 0.1em);
	padding: 0.2em;
}

.button-container button {
	padding: 0.5em 0.9em;
	background: var(--primary-color);
	color: var(--text3);
	border-color: var(--primary-color-lighter);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	cursor: pointer;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linea);
	font-weight: bold;
	position: relative;
	z-index: 1;

	width: 100%;
	/* width: 15em; */
	justify-self: center;
}

.button-container .active {
	color: white;
	background-color: var(--primary-color);
}

.button-container .inactive {
	opacity: 0.5;
	background-color: white;
	color: var(--primary-color);
}

.button-container .unselected {
	background-color: white;
	color: var(--primary-color);
}

.subtext {
	color: inherit;
	font-weight: normal;
	font-size: small;
}

.button-container .subtext {
	font-weight: normal;
	font-size: small;
}

.form-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.form-buttons {
	width: 100%;
	padding: 1em;
	border-top: 2px solid var(--header-background-color);
	justify-content: right;
	display: flex;
	align-self: flex-end;
}

.form-buttons button {
	padding: 0.5em 0.9em;
	background: var(--primary-color);
	color: var(--text3);
	border-color: var(--primary-color-lighter);
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	cursor: pointer;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linea);
	font-weight: bold;
}

.tag-button {
	width: 15em;
	margin: auto;
}

.coordinates {
	border-style: solid;
	padding-right: 1em;

	pointer-events: none;
}

.mandatory {
	font-weight: bold;
}

input {
	margin-bottom: 0.5em;
}

::placeholder {
	opacity: 0.6;
}

.error {
	color: red;
}

.mode-validation-element {
	display: block;
	height: 0;
	padding: 0;
	margin: 0;
	/* bug in chrome: border has to be there for the validation msg to be shown */
	border-width: 1px;
	border-color: var(--primary-bg-color);
}

textarea {
	resize: vertical;
	min-height: 3em;
}
