p {
	margin-bottom: 1em;
}

.container {
	padding: 1em;
}

.mode-selection-column {
	width: 50%;
	padding: 0.1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.coordinates {
	border-style: solid;
	padding-left: 1em;
	padding-right: 1em;

	pointer-events: none;
	background: var(--secondary-bg-color);
}

.control-label.required {
	font-weight: bold;
}

input {
	margin-bottom: 0.5em;
}

::placeholder {
	opacity: 0.6;
}

input:required::placeholder {
	font-weight: bold;
}

.search-icon {
	height: 2em;
	width: 100%;
	filter: invert(100%);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('assets/search.svg');
}

.tag-icon {
	height: 2em;
	width: 100%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('assets/marker.svg');
}

.header {
	font-weight: bold;
	font-size: large;
}

.section-header {
	font-weight: bold;
	font-size: larger;
}

.button-container {
	display: flex;
}

button {
	padding: .5em 0.9em;
	background: var(--primary-color);
	color: var(--text3);
	border-color: var(--primary-color);
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	cursor: pointer;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linea); 
	font-weight: bold;
	position: relative;
	z-index: 1;
}

.button-container button {
	padding: .5em 0.9em;
	background: var(--primary-color);
	color: var(--text3);
	border-color: var(--primary-color);
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	cursor: pointer;
	transition: all var(--animation-duration-medium-open) var(--animation-easing-linea); 
	font-weight: bold;
	z-index: 1;
	width: 17em;
}

.form-buttons {
	justify-content: center;
	display: flex;
}

.button-container span {
	color: var(--text3);
	opacity: .8;
}
.button-container button:hover span {
	opacity: 1;
}
.button-container button:focus {
	z-index: 0;
	box-shadow: 0 0 0 .2em var(--primary-color-lighter);
}

.arrow-down {
	width: 2em;
	height: 4em;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('assets/arrow-down-short.svg');
	margin: 0 auto;
}

.error {
	color: red;
}
