.container {
	margin: 1em;
	overflow: auto;
}

.coordinates {
	border-style: solid;
	padding-left: 1em;
	padding-right: 1em;
}

.coordinates-container {
	display: flex;
	justify-content: space-between;
}

.control-label.required {
	font-weight: bold;
}

.search-icon {
	background-repeat: no-repeat;
	background-image: url('assets/search.svg') !important;
}

.header {
	font-weight: bold;
	font-size: large;
}

.section-header {
	font-weight: bold;
	font-size: larger;
}

.iscollapse {
	display: none;
}

.collapse-content > * {
	border-right: 1px dotted var(--header-background-color);
	padding-left: 1.5em;
}
.collapse-content > *:first-child {
	border-right: 0;
	margin-right: .5em;
	margin-top: 0.7em;
}
.collapse-content > *:last-child {
	padding-right: 1em;
	border-right: 0;
}