.icon {
	mask-size: cover;
	-webkit-mask-size: cover;
	background: var(--text1);
	width: 2em;
	height: 2em;
	border-radius: 0;
}
.image {
	min-width: 4em;
	width: 4em;
	min-height: 4em;
	height: 4em;
	border-radius: 0;
}
.help {
	mask-image: url('assets/help.svg');
	-webkit-mask-image: url('assets/help.svg');
}
.contact {
	mask-image: url('assets/contact.svg');
	-webkit-mask-image: url('assets/contact.svg');
	transform: scale(.7);
}
.checklist {
	mask-image: url('assets/checklist.svg');
	-webkit-mask-image: url('assets/checklist.svg');
	transform: scale(.7);
}
.lock {
	mask-image: url('assets/lock.svg');
	-webkit-mask-image: url('assets/lock.svg');
	transform: scale(.7);
}
.imprint {
	mask-image: url('assets/imprint.svg');
	-webkit-mask-image: url('assets/imprint.svg');
	transform: scale(.7);
}
.link {
	mask-image: url('assets/link.svg');
	-webkit-mask-image: url('assets/link.svg');
	transform: scale(.7);
}
.geoportal {
	background-color: transparent;
	background-size: contain;
	background-image: url('assets/geoportal.webp');
}
.ba {
	background-color: transparent;
	background-size: contain;
	background-image: url('assets/ba.svg');
}
.gdo {
	mask-size: cover;
	-webkit-mask-size: cover;
	mask-image: url('assets/gdo.svg');
	-webkit-mask-image: url('assets/gdo.svg');
	background: linear-gradient(90deg, rgba(8,131,181,1) 0%, rgba(43,91,148,1) 100%);
}


.iscollapse {
	display: none;
}

.collapse-content > * {
	border-right: 1px dotted var(--header-background-color);
}
.collapse-content > *:first-child {
	border-right: 0;
	margin-right: .5em;
}
.collapse-content > *:last-child {
	padding-right: 1em;
	border-right: 0;
}


.chevron {
	position: relative;
	mask: url('./assets/chevron-right.svg');
	-webkit-mask-image: url('./assets/chevron-right.svg');
	mask-image: url('./assets/chevron-right.svg');
}

.header-icon {
	background: var(--primary-color);
	mask-size: cover;
	-webkit-mask-size: cover;
	display: inline-block;
	/* height: 16px;
	width: 10px; */
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	transition: all var(--animation-duration-large-open) var(--animation-easing-open);
}
.sub-header:hover .header-icon {
	filter: brightness(.8);
}

.iconexpand {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}