.ba-section {
	--secondary-color: var(--topic-theme, var(--secondary-color-theme));				  
}

.non-selectable {
	user-select: none;
}

.subcategory2 {
	padding-left: 2em;
}

.centered-icon {
	bottom: 0.08em;
	margin-left: 0.2em;
	vertical-align: bottom;
}